.page-header{
	font-family: 'Playfair Display', serif;
	color: rgb(3, 85, 3);
	font-size: 40px;
	font-weight: 1000;
}
.navbar-light .navbar-brand{
	font-family: 'Playfair Display', serif;
	color:#01573C;
	font-size: 25px;
	font-weight: 1000;
}
.navbar-brand:hover{
	color: rgb(3, 85, 3) !important;
}
.navbar-light{
	font-size: 20px;
	font-weight: 300;
}