* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	background: white;
}

p, li {
	font: 1.2em/1.8em Tahoma, sans-serif;
}

h1 {
	font: 2.0em Tahoma, sans-serif;
	color: white;
	height: 0px;
}

h2 {
	font: 1.8em Tahoma, sans-serif;
	color: green;
}

ul {
	margin-left: 25px;
}

img {
	border: none;
}

#page-wrap {
	min-width: 780px;
	max-width: 1800px;
	margin: 10px auto;
	}
	#page-wrap #inside {
		margin: 10px 10px 0px 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
.style2 {font-size: 10px}
.style3 {font-size: 12px}

.hiddenDiv {
	display: none;
	}
.visibleDiv {
	display: block;
	}
	
#main-content {
	background: url(images/picture1.png);
	padding-left: 100px;
    padding-right: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#main-content2 {
	background: #cecece;
	min-height: 480px;
	max-height: 640px;
	overflow:hidden;
}

.answer_list {
	background: #cecece;
	min-height: 480px;
	max-height: 640px;
	padding-left: 10px;
    padding-right: 10px;
	overflow:hidden;
}

.image1 {
	max-width:90%;
	max-height:100%;
}

#d11 {
    overflow: hidden; /* add this to contain floated children */
}

#first {
width:250px;
    float:left; /* add this */
}
#second {
		max-width:100%;
	max-height:100%;
	    overflow: hidden; /* if you don't want #second to wrap below #first */

}

	
.image2 {
	max-width:100%;
	max-height:85%;
}

#d12 {
    overflow: hidden; /* add this to contain floated children */
}

#salamander1 {
width:250px;
    float:left; /* add this */
}
#salamander2 {
		max-width:100%;
	max-height:100%;
	    overflow: hidden; /* if you don't want #second to wrap below #first */

}

#hs1 {
width:250px;
    float:left; /* add this */
}
#hs2 {
		max-width:100%;
	max-height:100%;
	    overflow: hidden; /* if you don't want #second to wrap below #first */

}

#hs3 {
width:250px;
    float:left; /* add this */
}
#hs4 {
		max-width:100%;
	max-height:100%;
	    overflow: hidden; /* if you don't want #second to wrap below #first */

}

#rat1 {
width:250px;
    float:left; /* add this */
}
#rat2 {
		max-width:100%;
	max-height:100%;
	    overflow: hidden; /* if you don't want #second to wrap below #first */

}

#rat3 {
width:250px;
    float:left; /* add this */
}
#rat4 {
		max-width:100%;
	max-height:100%;
	    overflow: hidden; /* if you don't want #second to wrap below #first */

}



option.black {background-color: #000000; font-weight: bold; font-size: 12px; color: white;}
input.black {background-color: #000000; font-weight: bold; font-size: 12px; color: white;}


	
/*Methods CSS */
.imgA1 { position:relative; float:left; top: -265px; left: 80px; z-index: 2; } /* Grey Button */
.imgB1 { position:relative; float:left; top: -265px; left: 118px; z-index: 2; } /* Red Button */
.imgC1 { position:relative; float:left; top: -180px; left: 120px; z-index: 2; } /* Blue Button */
.imgD1 { position:relative; float:left; top: -80px; left: 20px; z-index: 2; } /* Green Button */
.imgE1 { position:relative; float:left; top: -80px; left: -120px; z-index: 2; } /* Yellow Button */
.imgF1 { position:relative; float:left; top: -175px; left: -225px; z-index: 2; } /* Humans Button */

	
#header {
	background-image:url(images/greenbar.png);
	text-align: center;
	position: relative;
	padding-top: 25px;
	padding-bottom: 50px;
	
}

.eye {
	position: absolute;
	left: 1%;
	top:2%;
}

.title {
	position: absolute;
	max-width:70%;
	max-height:100%;
	left:19%;
	top:20%;
}

#header2 {
	background-image:url(images/graybar.png);
	position:relative;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 10px;
}

.button1 {
	position: absolute;
	left: 22%;
	top: 15%;
}

.button2 {
	position: absolute;
	left: 30%;
	top: 5%;
}

.button3 {
	position: absolute;
	left: 40%;
	top: 20%;
}

.button4 {
	position: absolute;
	left: 51%;
	top: 15%;
}

.button5 {
	position: absolute;
	left: 62%;
	top: 5%;
}

.button6 {
	position: absolute;
	left: 70%;
	top: 15%;
}

.button7 {
	position: absolute;
	left: 79%;
	top: 3%;
}

#left-sidebar {
	width: 100px;
	float: left;
	padding-left: 15px;
	padding-top: 50px;
}

#footer {
	background-image:url(images/graybar.png);
	position:relative;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
}

.logo1 {
	position: absolute;
	left: 1%;
	top: 10%;
}

.logo2 {
	position: absolute;
	left: 28%;
	top: 3%;
}

.logo3 {
	position: absolute;
	left: 48%;
	top: 9%;
}

.logo4 {
	position: absolute;
	max-width:100%;
	max-height:100%;
	left: 73%;
	top: 8%;

}
